<div class="container-fluid">
<p><div class="row">
  <table class="table table-striped table-hover col-md-12 col-sm-12 col-xs-12">
    <thead>
        <%= render partial: 'layouts/index/thead', locals: {titles: [
          {:sort => "rating", :title => "Rating"},
          {:sort => "comments", :title => "Comments"},
          {:sort => "timestamp", :title => "Timestamp"} ]} %>
    </thead>
    <tbody>
        <% @driver.ratings.each do |r| %>
            <tr>
                <% link = "window.location.href = '" << show_rating_path(r) << "'" %>
                <td class="table-link" onclick="<%= link %>"><%= r.rating %></td>
                <td class="table-link" onclick="<%= link %>"><%= r.comments %></td>
                <td class="table-link" onclick="<%= link %>"><%= r.timestamp %></td>
                <td><%= render partial: 'layouts/index/row_buttons', locals: {item: r} %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div></p>
</div>

<%= paginate @driver.ratings %>
