<!--
	Copyright 2014 Vanderbilt University 
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 -->


<% provide(:title, 'Import/Export Data') %>
<% provide(:heading, 'Import/Export Data') %>

<br><br>
<div class="col-md-6 col-sm-6 col-lg-4">
<button type="button" class="btn btn-lg btn-block" data-toggle="collapse" data-target="#import">
    <i class="glyphicon glyphicon-import"></i> Import <span class="caret"></span>
</button>

<div id="import" class="collapse">
     <%= render partial: 'import_modal', locals: {modal_type: "Users", import_url: url_for(import_users_path)} %>
     <%= render partial: 'import_modal', locals: {modal_type: "Companies", import_url: url_for(import_companies_path)} %>
     <%= render partial: 'import_modal', locals: {modal_type: "Drivers", import_url: url_for(import_drivers_path)} %>
     <%= render partial: 'import_modal', locals: {modal_type: "Documents", import_url: url_for(import_documents_path)} %>
     <%= render partial: 'import_modal', locals: {modal_type: "Ratings", import_url: url_for(import_ratings_path)} %>
     <%= render partial: 'import_modal', locals: {modal_type: "Riders", import_url: url_for(import_riders_path)} %>
     <%= render partial: 'import_modal', locals: {modal_type: "Rides", import_url: url_for(import_rides_path)} %>
</div>
</div>

<div class="col-md-6 col-sm-6 col-lg-4">
<button type="button" class="btn btn-lg btn-block" data-toggle="collapse" data-target="#export">
    <i class="glyphicon glyphicon-export"></i> Export <span class="caret"></span>
</button>

<div id="export" class="collapse">
     <%= render partial: 'export_button', locals: {modal_type: "Users", path_export: download_users_path} %>
     <%= render partial: 'export_button', locals: {modal_type: "Companies", path_export: download_companies_path} %>
     <%= render partial: 'export_button', locals: {modal_type: "Drivers", path_export: download_drivers_path} %>
     <%= render partial: 'export_button', locals: {modal_type: "Documents", path_export: download_documents_path} %>
     <%= render partial: 'export_button', locals: {modal_type: "Ratings", path_export: download_ratings_path} %>
     <%= render partial: 'export_button', locals: {modal_type: "Riders", path_export: download_riders_path} %>
     <%= render partial: 'export_button', locals: {modal_type: "Rides", path_export: download_rides_path} %>
</div>
</div>




