<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :driver_id, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :driver_id, :class => "form-control", :autofocus => true %></div>
    </div>
    <div class="form-group">
      <%= f.label :rider_id, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.text_field :rider_id%></div>
    </div>
    <div class="form-group">
      <%= f.label :ride_id, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :ride_id%></div>
    </div>
    <div class="form-group">
      <%= f.label :rating, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :rating%></div>
    </div>
    <div class="form-group">
      <%= f.label :comments, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.text_field :comments%></div>
    </div>

  <%= f.hidden_field :timestamp %>
  <div class="col-sm-offset-3 col-sm-7">
      <%= f.submit "Submit", :class=>"btn btn-primary" %>
  </div>
  </div>

<% end %>
