<td class="table-link" onclick="<%= link %>"><%= row.driver.last_name << ", " << row.driver.first_name %></td>
<td class="table-link" onclick="<%= link %>"><%= row.driver.company_id %></td>
<td class="table-link" onclick="<%= link %>"><%= row.rating %></td>
<td class="table-link" onclick="<%= link %>"><%= row.comments %></td>
<td class="table-link" onclick="<%= link %>"><%= row.timestamp %></td>

