<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @rating.driver.last_name << ', ' <<  @rating.driver.first_name %>
</p>

<p>
  <strong>Rated by:</strong>
  <%= @rating.rider_id ? @rating.rider.uuid : "N/A" %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @rating.comments %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @rating.timestamp %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
