<td class="table-link" onclick="<%= link %>">
    <% if row.driver.nil? %>
      None 
    <% else %>
      <%= row.driver.last_name %>, <%= row.driver.first_name %> <%= row.driver.middle_name %>
    <% end %>
</td>
<td class="table-link" onclick="<%= link %>"><%= row.title %></td>

