<% provide(:title, 'Documents') %>
<%= content_for :heading do %>
    <%= render 'layouts/back_button' %>
    <%= link_to(edit_document_path(@document), :class => "btn btn-lg btn-link pull-right", title: "Edit", method: :get) do %>            
        <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
    <%= @document.title %> 
<% end %>
 
<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @document.driver.last_name %>, <%= @document.driver.first_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<%= button_to(view_document_path(@document), :class => "btn btn-lg btn-link btn-block", title: "View", method: :get) do %>            
    <span class="glyphicon glyphicon-eye"></span> View Document
<% end %>
