<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @document.driver.last_name %>, <%= @document.driver.first_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<%= send_file(@document.doc.url, :type =>
'application/pdf', :disposition => 'inline') %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
