<td class="table-link" onclick="<%= link %>"><%= row.name %></td>
<td class="table-link" onclick="<%= link %>"><%= row.drivers.length %></td>
<td class="table-link" onclick="<%= link %>"><%= sprintf('%.2f', row.average_rating) %></td>

