<% provide(:title, 'Companies') %>
<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    <%= link_to(edit_company_path(@company), :class => "btn btn-lg btn-link pull-right", title: "Edit", method: :get) do %>            
        <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
  <%= image_tag @company.logo.url(:thumb) %>
    <%= @company.name %> 
<% end %>
 <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Registered Since:</strong>
  <%= @company.created_at %>
</p>
<p>
  <strong>Driver Count:</strong>
  <%= @company.drivers.length %>
</p>
