<% provide(:title, 'Companies') %>
<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    <%= link_to(edit_company_path(@company), :class => "btn btn-lg btn-link pull-right", title: "Edit", method: :get) do %>            
        <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
  <%= image_tag @company.logo.url(:thumb) %>
    <%= @company.name %> 
<% end %>
 <p id="notice"><%= notice %></p>

<!-- Nav tabs -->
<ul id="showTab" class="nav nav-tabs">
  <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#drivers" data-toggle="tab">Drivers</a></li>
  <li><a href="#ratings" data-toggle="tab">Ratings</a></li>
</ul>
<br>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="profile"><%= render partial: 'companies/show/profile' %></div>
  <div class="tab-pane fade" id="drivers"><%= render partial: 'companies/show/drivers' %></div>
  <div class="tab-pane fade" id="ratings"><%= render partial: 'companies/show/ratings' %></div>
</div> 
