<tr>
    <% if controller.controller_path == 'drivers' %>
        <td><%= row.last_name << ", " << row.first_name << " " << truncate(row.middle_name, length: 1) %></td>
        <td><%= row.company_name %></td>
        <td><%= row.permit_expiration_date %></td>
        <td><%= row.permit_number %></td>
    <% elsif controller.controller_path == 'users' %>
        <td></td>
    <% elsif controller.controller_path == 'ratings' %>
        <td><%= row.driver.last_name << ", " << row.driver.first_name %></td>
        <td><%= row.driver.company_name %></td>
        <td><%= row.rating %></td>
        <td><%= row.comments %></td>
        <td><%= row.timestamp %></td>
    <% end %>
    <td><%= render partial: 'layouts/index/row_buttons', locals: {item: row} %></td>
</tr>


<!--<div onclick="window.location.href = '<%= url_for controller: controller.controller_path, id: row, action: 'show' %>';">
    -->
