<% if controller.controller_path == 'users' %>
    <% items.each do |row| %>
      <% link = "window.location.href = '" << url_for(controller: controller.controller_path, id: row, action: 'show') << "'" %>
      <tr><%= render partial: "#{controller.controller_path}/row_content", locals: {row: row, link: link} %>
      <td><%= link_to '', edit_other_user_path(row.id) %>
            <%= render partial: 'layouts/index/row_buttons', locals: {item: row} %></td></tr>
    <% end %>
<% else %>
    <% items.each do |row| %>
      <% link = "window.location.href = '" << url_for(controller: controller.controller_path, id: row, action: 'show') << "'" %>
      <tr><%= render partial: "#{controller.controller_path}/row_content", locals: {row: row, link: link} %>
      <td><%= render partial: 'layouts/index/row_buttons', locals: {item: row} %></td></tr>
    <% end %>
<% end %>



