<%= form_for(@driver, :html => {:multipart => true }) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :first_name, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :first_name, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :middle_name, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :middle_name, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :last_name, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :last_name, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <div class ="col-sm-3 control-label"><strong>Image:</strong></div>
        <div class="col-sm-5"><%= f.file_field :avatar %></div>
      </div>
      <div class="form-group">
        <div class ="col-sm-3 control-label"><strong>Date of Birth:</strong></div>
        <div class="col-sm-5"><%= f.date_select :dob, :start_year => 1950%></div>
      </div>
      <div class="form-group">
        <%= f.label :type_id, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.radio_button :type_id, "Taxi", :class=>"radio-inline", :checked => "checked"%> <strong>Taxi</strong><br>
          <%= f.radio_button :type_id, "Wrecker", :class=>"radio-inline"%> <strong>Wrecker</strong>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :address, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :city, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :city, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :state, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.select(:state, [ "TN", "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MY", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TX", "UT", "VA", "VT", "WA", "WI", "WV", "WY"])%>
</div>
      </div>
      <div class="form-group">
        <%= f.label :zipcode, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.number_field :zipcode, :class=>"form-control", :size => 4%></div>
      </div>
      <div class="form-group">
        <%= f.label :race, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.select(:race, [ "African American", "Asian", "Caucasian", "Hispanic", "Indian", "Native American", "Other"], {include_blank: true}) %></div>
      </div>
      <div class="form-group">
        <%= f.label :sex, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.radio_button :sex, "male", :class=>"radio-inline", :checked => "checked"%> <strong>Male</strong><br>
          <%= f.radio_button :sex, "female", :class=>"radio-inline"%> <strong>Female</strong>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :height, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.number_field :height, :class=>"form-control", :size => 4%></div>
      </div>
      <div class="form-group">
        <%= f.label :weight, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.number_field :weight, :class=>"form-control", :size => 4%></div>
      </div>
      <div class="form-group">
        <%= f.label :license, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :license, :class=>"form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :phone_number, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.telephone_field :phone_number, :class=>"form-control", :size => 10 %></div>
      </div>
      <div class="form-group">
        <%= f.label :training_completion_date, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.date_select :training_completion_date %></div>
      </div>
      <div class="form-group">
        <%= f.label :permit_number, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.number_field :permit_number, :class => "form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :permit_expiration_date, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.date_select :permit_expiration_date %></div>
      </div>
      <div class="form-group">
        <%= f.label :status, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :status, :class=>"form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :owner, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :owner, :class=>"form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :company_name, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :company_name, :class=>"form-control" %></div>
      </div>
      <div class="form-group">
        <%= f.label :physical_expiration_date, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.date_select :physical_expiration_date %>
          <%= f.check_box :valid, :class=>"checkbox-inline" %> <%= f.label :valid %> 
        </div>
      </div>
      <div class="form-group">
        <%= f.label :beacon_id, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5"><%= f.text_field :beacon_id, :class=>"form-control" %></div>
      </div>

<!-- <div class="field">
<%= f.label :average_rating %><br>
<%= f.text_field :average_rating %>
</div>
<div class="field">
<%= f.label :total_ratings %><br>
<%= f.number_field :total_ratings %>
</div> -->

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
        <%= f.submit "Submit", :class=>"btn btn-primary" %>
    </div>
  </div>
<% end %>
