<% driver_name = @driver.first_name << " " << @driver.middle_name << " " << @driver.last_name %>
<% provide(:title, driver_name) %>

<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    <%= render partial: 'layouts/buttons/edit_button', locals: {item: @driver} %>
    <%= render partial: 'layouts/buttons/attach_button', locals: {item: @driver} %>
    <%= driver_name %>
<% end %>

<ul class="nav nav-tabs">
  <li class= <%= controller.action_name == 'show' ? 'active' : '' %> >
    <%= link_to "Bio", show_driver_path(@driver) %>
  </li>
  <li class= <%= controller.action_name == 'ratings' ? 'active' : '' %> >
    <%= link_to "Ratings", show_driver_ratings_path(@driver) %>
  </li>
  <li class= <%= controller.action_name == 'documents' ? 'active' : '' %> >
    <%= link_to "Documents", show_driver_documents_path(@driver) %>
  </li>
</ul>

<br>
