<%= render 'drivers/header' %>

<div class="container-fluid">
    <p><div class="row">
      <table class="table table-striped table-hover col-md-12 col-sm-12 col-xs-12">
        <thead><%= render partial: 'layouts/index/thead', locals: {titles: [{:sort => "title", :title => "Title"}]} %></thead>
        <tbody>
            <% @driver.documents.each do |d| %>
            <% link = "window.location.href = '" << url_for(controller: controller.controller_path, id: d, action: 'show') << "'" %>
            <td class="table-link" onclick="<%= link %>"><%= d.title %></td>
            <td><%= render partial: 'layouts/index/row_buttons', locals: {item: d} %></td>
            <% end %>
        </tbody>
      </table>
    </div></p>
</div>
