<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @driver.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @driver.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @driver.dob %>
</p>

<p>
  <strong>Type Id:</strong>
  <%= @driver.typeid %>
</p>

<p>
  <strong>Address:</strong>
  <%= @driver.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @driver.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @driver.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @driver.zipcode %>
</p>

<p>
  <strong>Race:</strong>
  <%= @driver.race %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @driver.sex %>
</p>

<p>
  <strong>Height:</strong>
  <%= @driver.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @driver.weight %>
</p>

<p>
  <strong>License:</strong>
  <%= @driver.license %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @driver.phone_number %>
</p>

<p>
  <strong>Training completion date:</strong>
  <%= @driver.training_completion_date %>
</p>

<p>
  <strong>Permit expiration date:</strong>
  <%= @driver.permit_expiration_date %>
</p>

<p>
  <strong>Permit number:</strong>
  <%= @driver.permit_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @driver.status %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @driver.owner %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @driver.company_name %>
</p>

<p>
  <strong>Physical expiration date:</strong>
  <%= @driver.physical_expiration_date %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @driver.valid %>
</p>

<p>
  <strong>Average rating:</strong>
  <%= @driver.average_rating %>
</p>

<p>
  <strong>Total ratings:</strong>
  <%= @driver.total_ratings %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
