<% driver_name = @driver.first_name << " " << @driver.middle_name << " " << @driver.last_name %>
<% provide(:title, driver_name) %>

<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    <%= render partial: 'layouts/buttons/edit_button', locals: {item: @driver} %>
    <%= render partial: 'layouts/buttons/attach_button', locals: {item: @driver} %>
    <%= driver_name %>
<% end %>

<!-- Nav tabs -->
<ul id="showTab" class="nav nav-tabs">
  <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#ratings" data-toggle="tab">Ratings</a></li>
  <li><a href="#documents" data-toggle="tab">Documents</a></li>
</ul>
<br>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="profile"><%= render partial: 'drivers/show/profile' %></div>
  <div class="tab-pane fade" id="ratings"><%= render partial: 'drivers/show/ratings' %></div>
  <div class="tab-pane fade" id="documents"><%= render partial: 'drivers/show/documents' %></div>
</div> 

