<% provide(:title, 'Drivers') %>

<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    <%= render partial: 'layouts/buttons/edit_button', locals: {item: @driver} %>
    <%= render partial: 'layouts/buttons/attach_button', locals: {item: @driver} %>
    <%= @driver.first_name %> <%= @driver.middle_name %> <%= @driver.last_name %>
<% end %>
    
<%= render 'drivers/tabs' %>
<%= render partial: 'drivers/show/bio', locals: {driver: @driver} %>

<br>
<div class="container-fluid">
<p><%= render partial: 'drivers/show/ratings', locals: {driver: @driver} %></p>
<p><%= render partial: 'drivers/show/documents', locals: {driver: @driver} %></p>
</div>
