<!--
	Copyright 2014 Vanderbilt University 
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 -->


<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :driver_id, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :driver_id, :class => "form-control", :autofocus => true %></div>
    </div>
    <div class="form-group">
      <%= f.label :rider_id, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.text_field :rider_id, :class => "form-control", :step => 'any' %></div>
    </div>
    <div class="form-group">
      <%= f.label :rating_id, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.text_field :rating_id, :class => "form-control", :step => 'any' %></div>
    </div>
    <div class="form-group">
      <%= f.label :start_latitude, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :start_latitude, :class => "form-control", :step => 'any' %></div>
    </div>
    <div class="form-group">
      <%= f.label :start_longitude, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :start_longitude, :class => "form-control", :step => 'any' %></div>
    </div>
    <div class="form-group">
      <%= f.label :end_latitude, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :end_latitude, :class => "form-control", :step => 'any' %></div>
    </div>
    <div class="form-group">
      <%= f.label :end_longitude, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :end_longitude, :class => "form-control", :step => 'any' %></div>
    </div>
    <div class="form-group">
      <%= f.label :estimated_fare, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :estimated_fare, :class => "form-control" %></div>
    </div>
    <div class="form-group">
      <%= f.label :actual_fare, :class => "col-sm-3 control-label" %>
      <div class="col-sm-5"><%= f.number_field :actual_fare, :class => "form-control" %></div>
    </div>

  <div class="col-sm-offset-3 col-sm-7">
      <%= f.submit "Submit", :class=>"btn btn-primary" %>
  </div>
  </div>

<% end %>
