<% provide(:title, 'Rides') %>
<%= content_for :heading do %>
    <%= render 'layouts/buttons/back_button' %>
    <%= link_to(edit_ride_path(@ride), :class => "btn btn-lg btn-link pull-right", title: "Edit", method: :get) do %>            
        <span class="glyphicon glyphicon-pencil"></span> Edit
    <% end %>
    <%= "Ride: " << @ride.id %> 
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @ride.driver.first_name %> <%= @ride.driver.last_name %>
</p>
<p>
  <strong>Rider UUID:</strong>
  <%= @ride.rider.uuid %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @ride.rating.nil? ? "None Provided" : link_to(@ride.rating.rating, show_rating_path(@ride.rating_id)) %>
</p>
<!--
<p>
  <strong>Start:</strong>
  <%= start = @ride.start_latitude.to_s << ',' << @ride.start_longitude.to_s %>
</p>
<p>
  <strong>End:</strong>
  <%= endpoint = @ride.end_latitude.to_s << ',' << @ride.end_longitude.to_s%>
</p>
-->
<p>
  <strong>Estimated Fare:</strong>
  $<%= sprintf('%.2f', @ride.estimated_fare) %>
</p>
<p>
  <strong>Actual Fare:</strong>
  $<%= sprintf('%.2f', @ride.actual_fare) %>
</p>
<p>
  <strong>Charge Ratio:</strong>
  <%= (@ride.actual_fare/@ride.estimated_fare).round(2) %>
</p>
<%= button_to('https://www.google.com/maps/dir/' << start << '/' << endpoint,
    :class => "btn btn-lg btn-link btn-block", title: "View", method: :get) do %>            
    <span class="glyphicon glyphicon-eye"></span> View Ride on Map
<% end %>
